<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vueJS1</title>
</head>

<body>
    <div id='app'>
        {{message}}
        <p v-bind:title='message'>
            Hey Hey Hey
        </p>
        <input type="text" v-model='message'>
        <span v-if='seen'>Seen</span>
        <span v-else>Not seen</span>

        <ol>
            <li v-for='todo in todos'>{{todo.text}}</li>
        </ol>
        

        <button v-on:click='showMessage'>showMessage</button>

    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                seen: true,
                todos:[
                    {text : 'one'},
                    {text : 'two'},
                    {text : 'three'},
                    {text : 'four'}
                ]
            },
            methods:{
                showMessage:()=>{
                    alert('Hello vue!');
                }
            }
        })
    </script>
</body>

</html>